<!--* La etiqueta mas basica <html>, siempre va al inicio de cualquier página web y </html> va siempre al final.
* <p> es una etiqueta para los elementos de párrafo; </p> cierra cada párrafo

- head es un elemento que contiene información sobre el documento que no se muestra en la pantalla.Usamos <head> para decirle el navegador acerca de la configuración de la página

- body es un elemento que contiene todo lo que se muestra como parte de la página web.<body> para decir lo que realmente está en la página.
- Ha interpretado <title>Ola's blog</title> y colocó el texto en la barra de título de tu navegador--> 

<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        
    {% for post in posts %}
    
        <div>
          <p> publicado: {{ post.published_date }}</p>
          <h2><a href="">{{ post.title }}</a></h2>
          <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
        <!--<div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>-->
    </body>
</html>

<!--El primer elemento div contiene el título de nuestro blog - es un encabezado y un enlace
Otros dos elementos div contienen nuestras publicaciones (posts) del blog con su fecha de publicación, h2 con el título del post que es clickable y dos ps (párrafos) de texto, uno para la fecha y otro para el contenido del post.-->